.master-heading
{
  text-align: center;
  color: white;
  margin-top:10%;

}
body{
  background-color: black;
    color:white;
}

.calculator
{
  margin:15% 20%;
}
.button-container
{
  text-align: center;
  padding-top:20px;
}

.inp{
  margin-top:7px;
}
.data{
  margin-top:500px;
}
.result
{
  margin-top:20px;
}
